
<script>

    $(function() {
        google.script.run.withSuccessHandler(renderProductPage).productHtmlBuilded(productId);
    });

    function renderProductPage(html) {
    
       var productPage = $('#product');
       productPage.html(html);
       document.getElementById("save").addEventListener("click", save);
    }
    
    function getDataForm(){

        let id = $("#id").val();
        let name = $("#name").val();
        let qtd = $("#qtd").val();
        let ppuc = $("#ppuc").val();
        let ppuv = $("#ppuv").val();
        let description = $("#description").val();

        //todo pegar investment data
        let investmentsForm = $('div[id^="investment_"]').length;
        let investmentsList = [];

        for (let i = 1; i <= investmentsForm.length; i++ ){

            investmentsList.push({

                "partner_id": $(`#investment_{${i} #`).val(),
                "value": investmentsForm[i].value
            })
        }

        return {
            "id": id,
            "name": name,
            "qtd": qtd,
            "ppuc": ppuc,
            "ppuv": ppuv,
            "description": description,
            "investment": investmentsList
        }
    }
    
    function renderMessageResponse(typeAlert, message){
    
       let msg = `<div class="alert alert-${typeAlert}" role="alert">
                      ${message}
                  </div>`

       let content = $('#message-box');
       content.html(msg);
    }
    
    function cleanMessageBox(){
       var message = $('#message-box');
	   message.html("");       
    }
    
     function save(){

        cleanMessageBox()

        //todo validar informações REQUIRED
        let data = getDataForm();
        alert(JSON.stringify(data));

        google.script.run.withSuccessHandler(renderMessageResponse("primary", "message")).saveOrUpdateProduct(data);

     }

    
</script>


