<script>

    $(function() {
        google.script.run.withSuccessHandler(renderProductPage).paymentHtmlBuilded();
    });

    function renderProductPage(html) {
        let paymentPage = $('#payment');
        paymentPage.html(html);
        document.getElementById("save").addEventListener("click", save);
    }


    function getDataForm(){

        let partnersForm = $('input[id^="partner_"]');
        let partnerList = [];

        for (let i = 0; i < partnersForm.length; i++ ){

            partnerList.push({
                "id": partnersForm[i].id.replace("partner_", ""),
                "value": partnersForm[i].value
            })
        }

        return partnerList;
    }


    function save(){

        cleanMessageBox()

        //todo validar informações REQUIRED
        let data = getDataForm();
        alert(JSON.stringify(data));

        google.script.run.withSuccessHandler(createMessageResponse).savePayment(data);

    }
</script>


