
<script>

    $(function() {
        google.script.run.withSuccessHandler(renderSalePage).saleHtmlBuilded(productId, productName, qtd);
    });

    function renderSalePage(html) {

        var salePage = $('#sale');
        salePage.html(html);

        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
        document.getElementById("save").addEventListener("click", save);
    }

    function getDataForm(){

        let productId = $("#productId").val();
        let price = $("#price").val();
        let qtdSale = $("#qtdSale").val();

        return {
            "productId": productId,
            "price": price,
            "qtdSale": qtdSale
        }
    }



    function save(){

        cleanMessageBox();

        let data = getDataForm();
        alert(JSON.stringify(data));

        google.script.run.withSuccessHandler(createMessageResponse).saveOrUpdateSale(data);
    }

</script>


