<script>

    $(function () {
        google.script.run.withSuccessHandler(renderIndex).pcBuildedHtmlBuilded();
    });


        /*
    function httpGet(){

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "https://www.boadica.com.br/pesquisa/cpu_plmae/precos?ClasseProdutoX=5&CodCategoriaX=13&XT=2&XE=2&XG=4", false ); // false for synchronous request
        xmlHttp.send( null );

        let content = xmlHttp.responseText;


        $('#boadica').append($(content));
        $('#boadica').hide();

        let a = $('#boadica').find("col-md-1").text();

        alert(content);

        return xmlHttp.responseText;
    }

         */

    function renderIndex(html) {

        var index = $('#pcBuilded');
        index.html(html);

        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    }


    document.getElementById("btn").addEventListener("click", create);

    function create() {
        let name = document.getElementById("username").value;
        google.script.run.create(name);
        document.getElementById("username").value = "";
    }
</script>