<script>

    $(function () {
        google.script.run.withSuccessHandler(renderPcBuilded).pcBuildedHtmlBuilded(pcBuildedId);
    });


    function renderPcBuilded(html) {

        var index = $('#pcBuilded');
        index.html(html);

        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });

        document.getElementById("calc").addEventListener("click", calc);

    }

    function calc(){
        let costValue = $("#costValue").text();
        let percent = $("#percent").val();

        let addPercent = (Number(costValue) * Number(percent)) /  100;

        let result = Number(costValue) + addPercent;
        alert(result);

        $('#result').val(result);

    }

    document.getElementById("btn").addEventListener("click", create);

    function create() {
        let name = document.getElementById("username").value;
        google.script.run.create(name);
        document.getElementById("username").value = "";
    }
</script>