<script>

    $(function () {
        google.script.run.withSuccessHandler(renderIndex).pcBuildedHtmlBuilded(pcBuildedId);
    });


    function renderIndex(html) {

        var index = $('#pcBuilded');
        index.html(html);

        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    }


    document.getElementById("btn").addEventListener("click", create);

    function create() {
        let name = document.getElementById("username").value;
        google.script.run.create(name);
        document.getElementById("username").value = "";
    }
</script>